<html> 
<head>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes
	/smoothness/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

	<title> Create comment </title>
</head>
<body>
	<script>
		$(document).ready(function(){
			var propostes = ["Puta merda", "Puta bida", "Bon partit", "Horrible", "Soc un troll"];
			var myJSONObject = document.getElementById("myVar").value;
			//??????????????????????????????? com canviar el valor d'un input per poder printejar el JSON com canvia (?)

			$("input").autocomplete({
				source: propostes
			});
		});
	console.log(myVar.teams[0].coach)
	</script>




	<h1> Create a comment </h1>
	<input type="text" id="myVar" name = "variable" value="{{file}}">
	<form action = "" method = "post"> {% csrf_token %}
	
		<input autocomplete= "off" type = "text" name = "comment" value = "Aqui pots ficar el comentari" onfocus="if(this.value=='Aqui pots ficar el comentari')this.value=''">
		<input type = "submit" value = "Create the comment">
	</form>


	<p> M'he equivocat, deixa'm tornar al <a href =/> menu principal </a> o als comentaris de <a href =/matches/{{id}}> aquest partit</a> </p>
</body>
</html>
