<html> 
	<head>
	<title> Create comment </title>
	</head>
<body>


	<h1> Create a comment </h1>

	<form action = "" method = "post"> {% csrf_token %}
	
		<input type = "text" name = "comment" value = "Aqui pots ficar el comentari" onfocus="if(this.value=='Aqui pots ficar el comentari')this.value=''">
		<input type = "submit" value = "Create the comment">
	</form>


	<p> M'he equivocat, deixa'm tornar al <a href =/> menu principal </a> o als comentaris de <a href =/matches/{{id}}> aquest partit</a> </p>
</body>
</html>
