{% extends "bases/base_detail.html" %}

{%block elementTitle %} 

	partit {{object}}

{% endblock %}

{% block subTitle %}
	Puntuació final: {{object.localScore}} - {{object.visitantScore}}

	{{block.super}}

{% endblock %}

{% block data %}

	<ul>
	{% for comment in object.comment_set.all %}
		<li>{{comment.comment}} - {{comment.user}}
		{% if user == comment.user %}
		<a href=/matches/{{comment.match.id}}/{{comment.pk}}/edit>edit</a> 
	
		<a href=/matches/{{comment.match.id}}/{{comment.pk}}/delete> delete</a></li>
		{% endif %}
	{% endfor %}
	</ul>

{% endblock %}

{% block creation %}

	<p> Vols crear un comentari? Si? Segur? Doncs clica 
		<a href = /matches/{{object.id}}/create> aqui </a>
	</p>

{% endblock %}


{% block back %}
	<a href =/matches>Torna enrere</a>
{% endblock %} 
