{% extends "bases/base_list.html" %}

{%block elementTitle %} 

	jugadors 

{% endblock %}

{%block elementFooter %} 

	jugadors 

{% endblock %}

{% block creation %}


	<p> Vols crear un jugador? Si? Segur? Doncs clica 
		<a href = /players/create> aqui </a>
	</p>


{% endblock %}


{%block url %} 

	<a href = /players/{{object.id}}/>{{object.name}} </a>

{% endblock %}

{% block edit %}

		<a href=/players/{{object.id}}/edit>edit</a> 

{% endblock %}

{% block delete %}

	<a href=/players/{{object.id}}/delete> delete</a></li>

{% endblock %}