{% extends "bases/base_list.html" %}

{%block elementTitle %} 

	arbitres 

{% endblock %}

{%block elementFooter %} 

	arbitres 

{% endblock %}

{%block url %} 

	<a href = /referees/{{object.id}}/>{{object.name}} </a>

{% endblock %}

{% block creation %}

	<p> Vols crear un arbitre? Si? Segur? Doncs clica 
		<a href = /referees/create> aqui </a>
	</p>

{% endblock %}

{% block edit %}

		<a href=/referees/{{object.id}}/edit>edit</a> 

{% endblock %}

{% block delete %}

	<a href=/referees/{{object.id}}/delete> delete</a></li>

{% endblock %}