{% extends "bases/base_detail.html" %}

{%block elementTitle %} 
	
	usuari {{user.username}}

{% endblock %}

{% block subTitle %}
	<p>Comentaris escrits per l'usuari {{ object.username }}</p>

	{{block.super}}

{% endblock %}

{% block data %}

{% if object.comment_set.all %}
	<ul>
	{% for comment in object.comment_set.all %}
	<li>

	({{comment.match.localTeam.name}} - {{comment.match.visitantTeam.name}}) : {{comment.comment}}
	</li>
	{% endfor %}
	</ul>
	{% else %}
	<p>No ha escrit comentaris.</p>
	{% endif %}

{% endblock %}


{% block back %}
	<a href =/users>Torna enrere</a>
{% endblock %} 
